.roleCard{
  font-weight: bold ;
}

.cardUsersLight{
  background-color: #fdf9f4cf;
  color: #222;
  margin: 10px;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
  border: none;
  display: inline-grid;
  position: relative;
}


.cardUsersDark {
    margin: 10px;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    border: none;
    display: inline-grid;
    background-color: rgba(0, 0, 0, 0.233);
    color: white;
    border-style: solid;
  }
  
.btnChangeRoleLight{
    border-radius: 5px;
    color: #fdf9f4cf;
    background-color:  #793a1c;
    border: none;
    cursor: pointer;
    padding: 10px;
}
.btnChangeRoleDark{
    border-radius: 5px;
    color: #222;
    background-color:#ffffffce;
    border: none;
    cursor: pointer;
    padding: 10px;
}