.purchaseGroups {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 0px;
}

.purchaseHistory {
  color: white;
  padding: 10px;
  text-align: center;
}

.groupContainer {
  flex: 1 1 200px;
}

#titleP{
  color: white;
  margin: 10px;
}
.textNoPurchase{
  color:white;
  margin: 10px;
  text-align: center;
}