.purchaseGroups {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 0px;
}

.purchaseHistory {
  color: white;
  margin: 5px;
  padding: 5px;
}

.groupContainer {
  flex: 1 1 200px;
}

#titleP{
  color: white;
  margin: 10px;
}