.aboutBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: #222;
    background: #8a4b2149;
  }

.aboutBody.dark{
  background-color: rgb(24, 24, 24);
  color: white;
}  

.aboutBody.light{
  color: white;
} 
.presentation,
.history,
.experience{
    display: flexbox;
    flex-direction:column;
    align-items: center;
    text-align: center;
}

.history,
.experience{
  margin-top: 20px;
}

.presentation{
    background: #793a1c;
    border-radius: 4px;
    padding: 10px;
}

#AboutBody.dark .presentation{
    background:  rgb(24, 24, 24);
    padding: 10px;
}