.homePage{
    width: 100%;
    height: 100%;
    position: relative;
}

.imgClass{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homePage-text-light {
    position: absolute;
    top: 30%;
    left: 4%;
    text-align: center;
}

.homePage-text-light h1{
    font-size: 3rem;
    font-weight: 800;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homePage-text-light p{
    font-size: 1.3rem;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0.5rem 0 2rem 0;
}
.homePage-text-dark {
    position: absolute;
    top: 30%;
    left: 4%;
    text-align: center;
}
.homePage-text-dark h1{
    font-size: 3rem;
    font-weight: 800;
    background-color: rgb(24, 24, 24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.homePage-text-dark p {
    font-size: 1.3rem;
    background-color: rgb(24, 24, 24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0.5rem 0 2rem 0;
}
/* .homePage-text .show{
    text-decoration: none;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #87481d;
}
.homePage-text .show:hover{
    background-color: #87481d;
    color: #fff;
 }

 .showDark{
    text-decoration: none;
    background:  rgb(24, 24, 24);
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff
 }

 .homePage-text .showDark:hover{
    background-color: #fff;
    color: rgb(24, 24, 24);
 } */
@media screen and (max-width: 920px) {
    .homePage-text {
        text-align: center;
        padding: 3px;
        top:20%;
        transition: 1s ease-in-out;
    }
    .homePage-text h1{
        font-size: 2rem;   
        background: #793a1c;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0.4px 1px 0px #fff;
    }
    .homePage-text p{
        font-size: 1.2rem;
        background: #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
 
    } 
    /* .homePage-text .show{
        padding: 0.4rem 1.1rem;
        border-radius: 6px;
        font-size: 0.9rem ;
        letter-spacing: 1px;
        background: #fff;
        color: #87481d;
    }
    .homePage-text .show:hover{
        background-color: #87481d;
        color: #fff;
     } */
}