.contactBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: #222;
    background: #9a5b3c;
  }
  
.contactUs{
  background: #9a5b3c;
  padding: 10px;
}

.contactBody.dark .contactUs{
  background: rgb(24, 24, 24);
  padding: 10px;
}

.contactBody.dark{
  background-color: rgb(24, 24, 24);
  color: white;
}  
.contactBody.light{
  color: white;
} 
 
  .contactBody h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .infoContact,
  .locationContact,
  .hoursContact {
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  
  .infoContact h4,
  .locationContact h4,
  .hoursContact h4 {
    font-size: 18px;
    margin: 3px;
  }
  
  .infoContact p,
  .locationContact p,
  .hoursContact p {
    margin: 4px;
  }
  
  .hoursContact h5 {
    font-size: 16px;
    margin: 5px;
  }
  
  .hoursContact p {
    margin-bottom: 4px;
  }

@media (max-width: 920px) {
    .contactBody {
      flex-direction: column;
      align-items: center;
    }
  
    .contactBody .infoContact,
    .contactBody .locationContact,
    .contactBody .hoursContact {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }