.contactBody{
    color: #fff;
    border-color: black;
    border-style: double;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.infoContact{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hours{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

