.cartItems {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.setdelay {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.setdelay input {
  margin: 10px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
}

.dark {
  background-color: #2b2b2a;
}

.cartCount {
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
  padding: 8px;
  align-items: center;
  margin: 10px;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.linkCart {
  text-decoration: none;
  color: #fff;
}
