.ProductsPageMid{
    width: 100%;
    height: 70vh;
    position: relative;
}
.imgClass{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ProductsPage-text{
    position: absolute;
    top: 29%;
    left: 3%;
    text-align: center;
}

.ProductsPage-text h2{
    font-size: 3rem;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 920px) {
    .ProductsPage-text{
        text-align: center;
        top: 16%;
        left: 50%;
    }
    .ProductsPage-text h2{
        font-size: 2rem;   
        background: #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}