.cartItems {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  padding: 20px;
  margin: 0px 78px 0px 0px;
}

.setdelay {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  padding: 15px; 
  color: #222;
}

.dark .setdelay{
  color: #fff;
}

.setdelay input {
  margin-left: 5px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
}

.setdelay p{
  margin: 0;
  padding: 5px;
}
.dark {
  background: #161615;
}

#form.light{
  background:#fdf9f4cf;
  border-radius: 6px;
  margin: 50px;

}

#form.dark{
  box-shadow: 0 3px 10px #222;
  border-radius: 6px;
  margin: 20px;
}

.cartCount {
  background-color:  #fdf9f4cf;
  border-radius: 40px;
  padding: 5px 15px;
  align-items: center;
  margin: 10px;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.linkCart {
  text-decoration: none;
  color: #fdf9f4cf;;
}
.linkCart .cartCount {
  text-decoration: none;
  color: #222;
}
.linkCart:hover {
  text-decoration: none;
  color: #222;
}
.linkCart:hover .cartCount {
  text-decoration: none;
  color: #222;
}

.dark .linkCart{
  color: #fff;
}
.dark .cartCount{
  background-color: #2b2b2a;
  color: #fff;
}
.dark .linkCart:hover{
  color: #afa8a1cf;
}
.dark .linkCart:hover .cartCount{
  color: #fff;
}