.cartItems {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  padding: 20px;
}

.setdelay {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  padding: 15px; 
  color: #222;
}

.dark .setdelay{
  color: #fff;
}

.setdelay input {
  margin-left: 5px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
}

.setdelay p{
  margin: 0;
}
.dark {
  background-color: #2b2b2a;
}

#form.light{
  background: rgb(136, 72, 29);
  box-shadow: 0 3px 10px rgb(67, 35, 14);
  border-radius: 6px;
  margin: 20px;
}

#form.dark{
  box-shadow: 0 3px 10px #222;
  border-radius: 6px;
  margin: 20px;
}

.cartCount {
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
  padding: 8px;
  align-items: center;
  margin: 10px;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.linkCart {
  text-decoration: none;
  color: #222;
}
.dark .linkCart{
  color: #fff;
}
