.cartContainer{
    display: flexbox;
    justify-content: center;
    text-align: center;
    margin: 40px;
    color: #fff;
}

.checkout{
  background-color: #fff;
  border-radius: 5px;
  color: #87481d;
  border: none;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
}
